# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build directory
/build/
/build-*/

# Ignore VSCODE specific options (unless we want to provide shortcuts to build and run, then delete these)
/.vscode/

# CTest directory
/Testing/

# Clangd cache
.cache
CMakeUserPresets.json

# MacOS
.DS_Store

# Vcpkg
/vcpkg_installed/
