name: cpp-linter-analysis

on: [push, pull_request]

defaults:
  run:
    shell: bash -e -l {0}
jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Install LLVM and Clang
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20
          sudo update-alternatives --install /usr/bin/clang++         clang++         /usr/bin/clang++-20 200
          sudo update-alternatives --install /usr/bin/clang           clang           /usr/bin/clang-20 200
          sudo update-alternatives --install /usr/bin/clang-scan-deps clang-scan-deps /usr/bin/clang-scan-deps-20 200
          sudo update-alternatives --install /usr/bin/clang-tools     clang-tools     /usr/bin/clang-tools-20 200 
          sudo update-alternatives --set clang /usr/bin/clang-20
          sudo update-alternatives --set clang++ /usr/bin/clang++-20
          sudo update-alternatives --set clang-scan-deps /usr/bin/clang-scan-deps-20
          sudo update-alternatives --set clang-tools /usr/bin/clang-tools-20

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set conda environment
        uses: mamba-org/setup-micromamba@main
        with:
          environment-name: myenv
          environment-file: environment-dev.yml
          init-shell: bash
          cache-downloads: true

    - name: Run C++ analysis
      uses: cpp-linter/cpp-linter-action@v2.15
      id: linter
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        version: 20
        files-changed-only: false
        database: 'build'
        style: 'file'  # Use .clang-format config file
        tidy-checks: '' # Use .clang-tidy config file
        step-summary: true
        ignore: 'build'
        extra-args: '-std=c++20'
