name: OSX
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash -e -l {0}
jobs:
  build:
    runs-on: macos-${{ matrix.os }}
    name: macos-${{ matrix.os }} ${{ matrix.sys.compiler }} ${{ matrix.sys.version }} ${{ matrix.sys.stdlib }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - 12
        sys:
        - {compiler: clang, version: '16', config-flags: '', stdlib: 'libstdc++-13' }
        # - {compiler: clang, version: '16', config-flags: '-DCMAKE_CXX_FLAGS=-stdlib=libc++', stdlib: 'libc++-17' }
        - {compiler: clang, version: '17', config-flags: '', stdlib: 'libstdc++-13' }
        # - {compiler: clang, version: '17', config-flags: '-DCMAKE_CXX_FLAGS=-stdlib=libc++', stdlib: 'libc++-17' }
        - {compiler: gcc, version: '13', config-flags: '' }

    steps:

    - name: Install GCC
      if: matrix.sys.compiler == 'gcc'
      uses: egor-tensin/setup-gcc@v1
      with:
        version: ${{matrix.sys.version}}
        platform: x64

    - name: Install LLVM and Clang
      if: matrix.sys.compiler == 'clang'
      uses: egor-tensin/setup-clang@v1
      with:
        version: ${{matrix.sys.version}}
        platform: x64

    - name: Install the specified standard library for clang
      if: matrix.sys.compiler == 'clang'
      run: sudo apt install ${{matrix.sys.stdlib}}-dev -y



    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set conda environment
      uses: mamba-org/setup-micromamba@main
      with:
        environment-name: myenv
        environment-file: environment-dev.yml
        init-shell: bash
        cache-downloads: true

    - name: Configure using CMake
      run: cmake -Bbuild -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -DBUILD_TESTS=ON

    - name: Install
      working-directory: build
      run: cmake --install .

    - name: Build
      working-directory: build
      run: cmake --build . --target test_sparrow_lib --parallel 8

    - name: Run tests
      working-directory: build
      run: ./test/test_sparrow_lib
