name: Sanitizers
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash -e -l {0}
jobs:
  build:
    runs-on: ${{ matrix.sys.image }}
    name: sanitizer / ${{ matrix.sys.compiler }} / ${{ matrix.sys.version }} / ${{ matrix.sys.stdlib }} / ${{ matrix.config.name }} / date-polyfill ${{ matrix.sys.date-polyfill}} / shared ${{ matrix.sys.shared }}
    strategy:
      fail-fast: false
      matrix:
        sys:
        - {image: ubuntu-24.04, compiler: clang, version: '20', config-flags: '', stdlib: 'libstdc++-12', date-polyfill: 'ON', shared : 'ON'}
        - {image: windows-2022, compiler: msvc, version: 'latest', config-flags: '', date-polyfill: 'ON', shared: 'ON'}

        config:
        - {name: Debug}

    steps:

    - name: Install LLVM and Clang
      if: matrix.sys.compiler == 'clang'
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh ${{matrix.sys.version}}
        sudo apt-get install -y clang-tools-${{matrix.sys.version}} 
        sudo update-alternatives --install /usr/bin/clang++         clang++         /usr/bin/clang++-${{matrix.sys.version}} 200
        sudo update-alternatives --install /usr/bin/clang           clang           /usr/bin/clang-${{matrix.sys.version}} 200
        sudo update-alternatives --install /usr/bin/clang-scan-deps clang-scan-deps /usr/bin/clang-scan-deps-${{matrix.sys.version}} 200 
        sudo update-alternatives --set clang /usr/bin/clang-${{matrix.sys.version}}
        sudo update-alternatives --set clang++ /usr/bin/clang++-${{matrix.sys.version}}
        sudo update-alternatives --set clang-scan-deps /usr/bin/clang-scan-deps-${{matrix.sys.version}}

    - name: Install the specified standard library for clang
      if: matrix.sys.compiler == 'clang'
      run: sudo apt install ${{matrix.sys.stdlib}}-dev -y

    - name: Install specific version of tzdata
      if: matrix.sys.date-polyfill == 'OFF'
      run: sudo apt-get install tzdata=2024a-2ubuntu1 -y --allow-downgrades

    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup MSVC
      if: matrix.sys.compiler == 'msvc'
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Set conda environment
      uses: mamba-org/setup-micromamba@main
      with:
        environment-name: myenv
        environment-file: environment-dev.yml
        init-shell: bash
        cache-downloads: true

    - name: Configure using CMake
      run: |
        if [[ "${{matrix.sys.compiler}}" = "gcc" ]]; then export CC=gcc-${{matrix.sys.version}}; export CXX=g++-${{matrix.sys.version}}; fi
        if [[ "${{matrix.sys.compiler}}" = "clang" ]]; then export CC=clang; export CXX=clang++; fi
        cmake -G Ninja \
          -Bbuild ${{matrix.sys.config-flags}} \
          -DCMAKE_BUILD_TYPE:STRING=${{matrix.config.name}} \
          -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
          -DUSE_DATE_POLYFILL=OFF \
          -DBUILD_TESTS=ON \
          -DBUILD_EXAMPLES=ON \
          -DFETCH_DEPENDENCIES_WITH_CMAKE=MISSING \
          -DSPARROW_BUILD_SHARED=${{matrix.sys.shared}} \
          -DUSE_SANITIZER=address

    - name: Build library
      working-directory: build
      run: cmake --build . --config ${{matrix.config.name}} --target sparrow --parallel 8

    - name: Install
      working-directory: build
      run: cmake --install . --config ${{matrix.config.name}}

    - name: Build tests
      working-directory: build
      run: cmake --build . --config ${{matrix.config.name}} --target test_sparrow_lib --parallel 8

    - name: Run tests
      working-directory: build
      run: |
        if [[ "$RUNNER_OS" == "Windows" ]]; then
          export ASAN_OPTIONS=log_path=asan_log_:alloc_dealloc_mismatch=0:halt_on_error=0:windows_hook_rtl_allocators=true
        else
          export ASAN_OPTIONS=log_path=asan_log_:alloc_dealloc_mismatch=0:halt_on_error=0:handle_abort=0
        fi
        export ASAN_SAVE_DUMPS=AsanDump.dmp
        cmake --build . --config ${{matrix.config.name}} --target run_tests
      # env:
      #   # log_path is set to the path where ASAN will write the error report (seems ineffective)
      #   # alloc_dealloc_mismatch is set to 0 to deactivate unwanted ASAN warnings.
      #   # halt_on_error is set to 0 to avoid crashing the program after printing the first error report.
      #   # handle_abort is set to 0 to deactivate calls are handled as crashes by ASAN.
      #   # windows_hook_rtl_allocators is set to true for Windows to hook system allocators.
      #   # ASAN_SAVE_DUMPS is set to save crash dumps for offline debugging.
      #   # exitcode is set to 0 to avoid reporting the build as failed if ASAN detects an error.
      
    - name: Upload ASAN log
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: asan-log-${{ matrix.sys.compiler }}-${{ matrix.sys.version }}-${{ matrix.config.name }}-${{ matrix.sys.date-polyfill }}-${{ runner.os }}
        path: '**/asan_log_*'
        if-no-files-found: ignore

    - name: Upload ASAN dump
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: asan-dump-${{ matrix.sys.compiler }}-${{ matrix.sys.version }}-${{ matrix.config.name }}-${{ matrix.sys.date-polyfill }}-${{ runner.os }}
        path: '**/AsanDump.dmp'
        if-no-files-found: ignore
        
    - name: Return errors if ASAN log content is not empty
      if: always()
      run: |
        if [ -n "$(find build/test -name 'asan_log_*' -type f -size +0 2>/dev/null)" ]; then
          echo "ASAN detected errors. See the log for details."
          exit 1
        fi



