name: Windows
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash -e -l {0}
jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    name: ${{ matrix.sys.compiler }}-${{ matrix.build-system }}-${{ matrix.config.name }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: [windows-latest]
        sys:
        - {compiler: default}
        - {compiler: msvc}
        - {compiler: clang}
        config:
        - { name: Debug }
        - { name: Release }
        build-system:
        - "Visual Studio 17 2022"
        - "Ninja"

    steps:

    - name: Setup MSVC
      if: matrix.sys.compiler == 'msvc' && matrix.build-system != 'Visual Studio 17 2022'
      uses: ilammy/msvc-dev-cmd@v1

    - name: Setup clang
      if: matrix.sys.compiler == 'clang'
      run: |
        echo "CC=clang" >> $GITHUB_ENV
        echo "CXX=clang++" >> $GITHUB_ENV

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set conda environment
      uses: mamba-org/setup-micromamba@main
      with:
        environment-name: myenv
        environment-file: environment-dev.yml
        init-shell: bash
        cache-downloads: true
        create-args: |
          ninja

    - name: Configure using CMake
      run: cmake -Bbuild -DCMAKE_BUILD_TYPE:STRING=${{matrix.config.name}} -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -DBUILD_TESTS=ON -G Ninja

    - name: Install
      working-directory: build
      run: cmake --install .

    - name: Build
      working-directory: build
      run: cmake --build . --target test_sparrow_lib --parallel 8

    - name: Run tests
      working-directory: build
      run: ./test/test_sparrow_lib
